<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Estilos de BS-->
  <link rel="stylesheet" href="../CSSBS/bootstrap.css">
  <!--Estilos propios-->
  <link rel="stylesheet" href="../css/estilospropios.css">
  <!--Estilos de SCSS transpilados a CSS PURO-->
  <link rel="stylesheet" href="../css/style.css">
  <!--Icons de BS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <!--Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;600&display=swap" rel="stylesheet" />

  <!--SEO-->
  <meta name="keywords" content="dior,carteras,marca de lujo,">
  <title>Preguntas Frecuentes</title>
  <!--Description-->
  <meta name="description"
    content="Preguntas frecuentes de Dior y su bolso Lady, envio,sucursales,quejas,devolucion,cambios">
</head>

<body>
  <header>
    <!--Inicio navbar de BS-->
    <nav class="navbar navbar-expand-sm navbar-expand-md navbar-expand-lg navbar-expand-xl navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">LadyDior</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/nosotros.html">Nosotros</a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/views/coleccion.html" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Coleccion
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/dropdown/novedades.html">NOVEDADES</a></li>
                <li><a class="dropdown-item" href="/dropdown/minis.html">BOLSOS MINIS</a></li>
                <li><a class="dropdown-item" href="/dropdown/peques.html">BOLSOS PEQUEÑOS</a></li>
                <li><a class="dropdown-item" href="/dropdown/medianas.html">BOLSOS MEDIANOS</a></li>
              </ul>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/faqs.html">Faqs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/contacto.html">contacto</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <!--Fin navbar de BS-->

  </header>
  <main>

    <div class="container container-fluid container-sm container-md container-lg container-xl container-xxl g-2 m-3">
      <h3 class="text-center text-bold bg-gradient"> PREGUNTAS FRECUENTES</h3>
      <div class="row p-3">
        <div class=" col-sm-12 col-md-12 col-lg-6 col-xl-6 gy-3 bg-gradient">
          <ul class="list-inline">
            <li class="list-inline-item">
              <p>¿CÓMO PONERSE EN CONTACTO CON LA MAISON DIOR?
                Nuestros Asesores de atención al cliente estarán encantados de proporcionarle consejos personalizados y
                responder a sus preguntas por correo electrónico a la siguiente dirección: contactdioreu@dior.com
              </p>
            </li>
            <li class="list-inline-item">
              <p>¿A QUÉ DIRECCIÓN PUEDO ENVIAR UN CORREO?
                Puede enviarnos un correo a la siguiente dirección:
                Christian Dior Couture
                Service Relation Clients 11 bis, rue François 1er
                75008 París Francia </p>
            </li>
            <li class="list-inline-item">
              <p> ¿CÓMO HACER PARA REPARAR UN PRODUCTO DIOR?

                La Maison pone a disposición de sus clientes una amplia gama de servicios de reparación para los
                productos comprados en las boutiques y en Dior.com.
                Si desea solicitar la reparación de un producto Dior, diríjase a una boutique Dior. </p>
            </li>
            <li class="list-inline-item">
              <p> ¿COMO HACER PARA CAMBIAR O DEVOLVER UN PRODUCTO?

                Debe dirijirse a cualquiera de nuestras sucursales o enviarnos el "Formulario de Contacto" y nos
                comunicaremos inmediatamente con usted para ayudarle.</p>
            </li>
            <li class="list-inline-item">
              <p>¿CUÁL ES LA POLÍTICA DE LA MAISON DIOR EN MATERIA DE PRIVACIDAD?

                Concedemos una especial importancia al tratamiento, a la confidencialidad y a la seguridad de sus datos
                personales.
                Nos esforzamos por ofrecerle servicios personalizados respetando a la vez su privacidad y sus elecciones
                personales, de conformidad con el reglamento aplicable en materia de datos personales y, en particular,
                el Reglamento General de Protección de Datos (RGPD).
                Le invitamos a consultar la Política de Privacidad de Christian Dior Couture en la sección Política de
                Privacidad.
                Para proporcionarle un servicio personalizado idéntico en todo el mundo, sus datos pueden ser
                consultados por entidades de Christian Dior Couture ubicadas en Francia y el extranjero, </p>
            </li>
          </ul>
        </div>
        <div class=" col-sm-12 col-md-12 col-lg-6 col-xl-6 gy-5 ">
          <img class="img-fluid "
            src="https://www.dior.com/couture/var/dior/storage/images/pushs-editos/folder-microbags/s0856ongem49p/24742754-1-eng-GB/s0856ongem49p_1440_1200.jpg"
            alt="publicidad de bolsos lady dior mini" style="width: 100%;">
        </div>
      </div>
    </div>


  </main>


  <!--Inicio Footer -->
  <footer class="bg-black text-center text-secondary">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-secondary btn-floating m-1" href="#!" role="button"><i class="bi bi-facebook"></i>
        </a>

        <!-- Twitter -->
        <a class="btn btn-outline-secondary btn-floating m-1" href="#!" role="button"><i class="bi bi-twitter"></i> </a>

        <!-- Google -->
        <a class="btn btn-outline-secondary btn-floating m-1" href="#!" role="button"> <i class="bi bi-google"></i></a>

        <!-- Instagram -->
        <a class="btn btn-outline-secondary btn-floating m-1" href="#!" role="button"><i class="bi bi-instagram"></i>
        </a>

        <!-- Linkedin -->
        <a class="btn  btn-outline-secondary btn-floating m-1" href="#!" role="button"> <i class="bi bi-linkedin"></i>
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(46, 44, 44);">
      © 2020 Copyright: All Rights Reserved 2022.
      <a class="text-secondary" href="#"></a>
    </div>
    <!-- Copyright -->
  </footer>

  <!-- Fin del Footer -->

  <!--Javascrip de BS-->
  <script src="../js/bootstrap.js"></script>
</body>

</html>